.Job-Item-Details-Section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
}

.Job-item-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
}

.job-item-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  padding: 30px;
}

.Job-item-Details-Card-Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  width: 90%;
  border-radius: 10px;
  background-color: #202020;
  margin-top: 10px;
  padding: 30px;
}

@media screen and (max-width: 767px) {
  .Job-item-Details-Card-Container {
    width: 100%;
    padding: 20px;
  }
}

.Company-Logo {
  height: 65px;
  width: 65px;
  margin-right: 15px;
}

.Company-Title {
  color: #f1f5f9;
  font-size: 21px;
  font-family: 'Roboto';
  margin: 0px;
}

.Star-Image {
  height: 28px;
  width: 28px;
  color: #fbbf24;

  margin-right: 3px;
}

.Company-Rating {
  color: #f1f5f9;
  font-size: 20px;
  font-family: 'Roboto';
  margin: 0px;
  font-weight: 500;
}

.Location {
  margin-right: 5px;
  color: #f1f5f9;
  background-color: transparent;
  height: 24px;
  width: 24px;
}

.Location-Description {
  color: #f1f5f9;
  font-size: 18px;
  font-family: 'Roboto';
  margin: 0px;
}

.Package-Per-Annum {
  color: #f1f5f9;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
}

.Jobby_Description-Heading-Section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.visit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.visit-description {
  color: #6366f1;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
}

.visit-icon {
  color: #6366f1;
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.skills-container {
  margin-top: 15px;
}

.skills-heading {
  color: #f1f5f9;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 500;
}

.skills-unordered-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 0px;
}

.skills-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  margin: 0px 25px 35px 0px;
}

.skills-image {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.skil-name {
  color: #f1f5f9;
  font-size: 20px;
  font-family: 'Roboto';
}

.life-at-company-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.life-at-company-heading {
  color: #f1f5f9;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 500;
}

.life-at-company-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .life-at-company-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    width: 100%;
  }
}

.life-at-company {
  color: #f1f5f9;
  font-size: 18px;
  font-family: 'Roboto';
  margin-top: 0px;
  width: 70%;
}

.life-at-company-image {
  height: 170px;
  width: 250px;
}

@media screen and (max-width: 767px) {
  .life-at-company-image {
    margin-top: 20px;
  }
}

.similar-jobs-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  border-radius: 10px;
  margin-top: 20px;
  padding: 0px;
  flex-wrap: wrap;
}

.similar-jobs-heading {
  color: #f1f5f9;
  font-size: 24px;
  font-family: 'Roboto';
}

.similar-jobs-unodered-list {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.similar-job-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #202020;
  margin: 10px;
  padding: 30px;
  width: 300px;
  margin-right: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .similar-job-section {
    padding: 25px;
    width: 300px;
    margin-right: 5px;
    margin-bottom: 20px;
  }
}

.similar-job-title-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
}

.similar-job-company-logo {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}

.similarjob-title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.similar-job-title {
  color: #f1f5f9;
  font-size: 18px;
  font-family: 'Roboto';
  margin: 0px;
  padding: 0px;
}

.similar-rating-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.similar-star-image {
  color: #fbbf24;
  height: 20px;
  width: 20px;
  margin-right: 4px;
}

.similar-company-rating {
  color: #f1f5f9;
  font-size: 15px;
  font-family: 'Roboto';
  margin: 0px;
  font-weight: 500;
}

.similar-job-description-section-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  margin-top: 15px;
}

.similar-job-description-heading {
  color: #f1f5f9;
  font-size: 23px;
  font-family: 'Roboto';
  margin: 0px;
  margin-top: 10px;
}

.similar-job-description {
  color: #f1f5f9;
  font-size: 18px;
  font-family: 'Roboto';
}

.Similar-job-details-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 8px;
}

.location-employment-type-unordered-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
}

.location-employment-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
}

.location-employment-icon {
  margin-right: 6px;
  color: #f1f5f9;
  background-color: transparent;
  height: 22px;
  width: 22px;
}

.location-employment-description {
  color: #f1f5f9;
  font-size: 18px;
  font-family: 'Roboto';
}

.Loading-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
