.find-jobs-section {
  height: 100vh;
  width: 100%;
  background-color: #000000;
}

.find-jobs-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.search-jobs-container {
  background-color: aqua;
  width: 70%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
