.Jobs-section {
  min-height: 100vh;
  background-color: #000000;
}

.Jobs-Maincontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
}

@media screen and (max-width: 767px) {
  .Jobs-Maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #000000;
  }
}

.sidebar-container {
  background-color: #000000;
  min-width: 300px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

.side-view {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .side-view {
    min-height: 50vh;
  }
}

.profile-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  min-height: 180px;
  width: 80%;
  border-radius: 25px;
  align-items: flex-start;
  background-size: cover;
  padding: 30px 10px 30px 20px;
}

@media screen and (max-width: 767px) {
  .profile-bg-container {
    width: 95%;
  }
}

.profile-image {
  height: 65px;
  width: 65px;
}

.profile-name {
  color: #4f46e5;
  font-family: 'Roboto';
  font-size: 25px;
  margin: 3px 0px 5px 0px;
}

.profile-description {
  color: #2c364c;
  font-family: 'Roboto';
  font-size: 15px;
  margin: 0px;
  font-weight: 500;
}

.line {
  height: 1px;
  width: 80%;
  color: #475569;
  margin-top: 25px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .line {
    width: 90%;
  }
}

.employe-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.employee-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
}

.employe-unordered-list {
  list-style-type: none;
  padding: 0px;
  width: 80%;
}

.employee-container {
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .employe-container {
    width: 90%;
  }
}

.checkbox-element {
  height: 15px;
  width: 15px;
  margin-right: 8px;
}

.checkbox-label {
  color: #ffffff;
  padding: 0px;
  font-size: 17px;
}

.salary-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .salary-container {
    width: 90%;
  }
}

.salary-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}

.salary-unordered-list {
  list-style-type: none;
  padding: 0px;
  width: 80%;
}

.salary-container-list {
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.radio-element {
  height: 15px;
  width: 15px;
  margin-right: 8px;
}

.radio-label {
  color: #ffffff;
  padding: 0px;
  font-size: 17px;
}

.search-results-section {
}

.search-results-section {
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .search-results-section {
    padding-top: 0px;
  }
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  min-width: 280px;
  background-color: transparent;
  border: 1px solid #cbd5e1;
  border-right: none;
  border-radius: 5px;
}

.search-input {
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  height: 25px;
  width: 250px;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
}

.search-button {
  background-color: #7e858e;
  border: none;
  height: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 38px;
}

.search-icon {
  height: 14px;
  width: 15px;
  color: #f1f5f9;
}

.search-results-container {
  background-color: #000000;
  min-height: 100vh;
  width: 100%;
}

.mobile-view-search-container {
  margin-top: 20px;
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-view-search-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .search-bar-container {
    display: none;
  }
}
